<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/7692/7692809.png">
</head>

<body>
    <div class="nav">
        <div class="nav-logo-section">
            <a href=""><img src="https://cdn-icons-png.flaticon.com/512/9802/9802618.png" alt="" class="nav-logo"></a>
            <a href=""><span class="nav-logo-name">To-dos List.</span></a>
        </div>
       <!-- <div class="login-signup-section">
            <a href="/login" class="nav-login">Login</a>
            <a href="/register" class="nav-register">Sign Up</a>
        </div> -->
    </div>
    <div class="main-container">
        <h4 class="main-heading">To-do List, just tasks</h4>
        <div class="about">
            <p>Hey welcome to To-Do List Projects. This Projects is hosted on cloud connected with Mongodb database designed in node.js and express.js.
                 <div class="buttons">
            <a href="/dashboard"><button class="get-start" id="start">Get Started</button></a>
        </div>
        </div>
</p>
        </div>
  

    <!-- background element -->
    <div class="element1"></div>
    <div class="element2"></div>
    <div class="element3"></div>

    <script src="/js/home.js"></script>
</body>

</html>
